.banner {
    background: var(--azul-degrade);
    color: white;
    text-align: center;
    padding: 2.5rem 2rem;
}

.banner__titulo {
    font-size: 1.125rem;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1rem 0;
}

.banner__pesquisa {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 24px;
    padding: 1rem;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--font-principal);
    font-size: 0.85rem;
    font-weight: 400;
    text-align: center;
    color: white;
    background: url("../assets/Vector.svg") no-repeat;
    background-position: 3rem;
}

.container__final {
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem 0;
}

.banner__final {
    background: var(--azul-degrade);
    color: white;
    text-align: center;
    padding: 1rem 0rem;
}
.banner__titulo {
    font-weight: 300;
    margin-bottom: 1rem;
}

.botões__topicos {
    color: white;
    background-color: var(--laranja);
    font-weight: 700;
    font-size: 0.875rem;
    text-decoration: none;
    padding: 1rem;
}

.cadastro {
    color: var(--azul);
    text-align: left;
    padding: 1rem;
}

.cadastro__titulo {
    font-size: 1.125rem;
    font-weight: 500;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.cadastro__texto {
    font-weight: 300;
    margin: 1rem 0;
}

.cadastro__email {
    background-color: transparent;
    border: 1px solid var(--azul);
    color: var(--azul);
    border-radius: 24px;
    padding: 1rem;
    width: 90%;
}

.cadastro__email::placeholder {
    font-family: var(--font-principal);
    font-size: 0.85rem;
    font-weight: 400;
    text-align: left;
    color: var(--azul);
    background: url("../assets/Vector_Email.svg") no-repeat;
    padding-left: 2rem;
}

.banner__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.banner__item {
    margin: 2rem 0.5rem;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 2.25rem;
        font-weight: bold;
    }

    .banner__pesquisa {
        width: 50%;
    }

    .banner__pesquisa::placeholder {
        background-position: 5rem;
    }

    .botões__topicos {
        font-size: 1.625rem;
    }

    .cadastro {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 22px;
        margin: 0 5rem;
    }

    .cadastro__titulo {
        font-size: 1.625rem;
        width: 80%;
    }

    .cadastro__texto {
        margin-right: 1rem;
        width: 80%;
    }

    .cadastro__email {
        width: 50%;
    }

    .cadastro__email::placeholder {
        font-size: 1rem;
        background-position: 1rem center;
        padding-left: 3rem;
    }

}