@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("header.css");

:root {
    --cor-de-fundo: #EBECEE;
}

body {
    background-color: var(--cor-de-fundo);
}
/*.cabecalho {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: white;
}
/*.menuLogo {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1.5rem;
}
.iconesNav {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}
.primeiraSecao {
    background: linear-gradient(135deg, #002F52, #326589);
    font-family: Poppins;
    color: #FFFFFF;
    text-align: center;
    padding: 1rem;
}
.primeiraSecao > h1 {
    font-weight: bold;
    font-size: 1.125rem;
    padding: 1rem;    
}
.primeiraSecao > p {
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 1rem;
}
.primeiraSecao > a {
    font-weight: 400;
    font-size: 0.875rem;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.625rem 1.5rem;
    display: flex;             /* Torna o botão um contêiner flexível */
    /*align-items: center;       /* Alinha itens verticalmente ao centro */
    /*justify-content: center;   /* Centraliza o conteúdo horizontalmente */
    /*gap: 1rem;
    border: 1px solid white;
    border-radius: 24px;
}*/